.exhibit {
    padding: 183px 0;
    background-color: #fff;
    &__wrapper {
        display: grid;
        grid-template-columns: 500px 665px;
        justify-content: space-between;
        @include for-desktop-up {
            grid-template-columns: 1fr 1fr;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
        @include for-phone-only {
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
    }
    &__links {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 480px;
        bottom: 0;
        @include for-tablet-landscape-up {
            position: relative;
        }
        @include for-tablet-portrait-up {
            position: relative;
        }
        @include for-phone-only {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 60px;
            width: 100%;
        }
    }
    &__aside {
        position: relative;
        @include for-phone-only {
            width: 290px;
        }
    }
    &__caption {
        font-weight: 300;
        font-size: 24px;
        color: #010103;
        padding-top: 30px;
        @include for-tablet-landscape-up {
            padding-top: 0;
        }
        @include for-tablet-portrait-up {
            padding-top: 0;
        }
        @include for-phone-only {
            padding-top: 0;
        }
    }
    &__list {
        list-style-type: none;
        li {
            text-decoration: underline;
            font-weight: 300;
            font-size: 18px;
            color: #010103;
            padding-bottom: 8px;
        }
    }
    &__title {
        font-weight: 400;
        color: #010103;
        @include for-desktop-up {
            font-size: 71px;
        }
        @include for-phone-only {
            font-size: 42px;
            line-height: 55px;
        }
    }
    &__head {
        position: relative;
    }
    &__divider {
        position: absolute;
        top: -20px;
    }
    @include for-tablet-landscape-up {
         padding: 100px 0;   
    }
    @include for-tablet-portrait-up {
        padding: 100px 0;
    }
    @include for-phone-only {
        padding: 100px 0;
    }
}