.exhibit {
    padding: 183px 0;
    background-color: #fff;
    &__wrapper {
        display: grid;
        grid-template-columns: 500px 665px;
        justify-content: space-between;
        @include for-desktop-up {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__links {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 480px;
        bottom: 0;
    }
    &__aside {
        position: relative;
    }
    &__caption {
        font-weight: 300;
        font-size: 24px;
        color: #010103;
        padding-top: 30px;
    }
    &__list {
        list-style-type: none;
        li {
            text-decoration: underline;
            font-weight: 300;
            font-size: 18px;
            color: #010103;
            padding-bottom: 8px;
        }
    }
    &__title {
        font-weight: 400;
        color: #010103;
        @include for-desktop-up {
            font-size: 71px;
        }
    }
    &__head {
        position: relative;
    }
    &__divider {
        position: absolute;
        top: -20px;
    }
}