.header {
    min-height: 1285px;
    position: relative;
    &__backgrounds {
        position: relative;
        z-index: -1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 900px 385px;
        width: 100%;
        &-top {
            
            background: url('../img/page3/main_bg.png') no-repeat 100%/cover;
            
            width: 100%;
        }
        &-bottom {
            
            background-color: #000000;
            
            width: 100%;
        }
        @include for-tablet-portrait-up {
            grid-template-rows: 830px 240px;
        }
    }
    &__head {
        padding-top: 45px;
        display: grid;
        grid-template-columns: 112px 860px;
        grid-template-rows: 50px;
        align-items: center;
        @include for-desktop-up {
            grid-template-columns: 0.25fr 1fr;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 0.25fr 1fr;
        }
        @include for-phone-only {
            grid-template-columns: 0.25fr 1fr;
        }
        
    }
    &__logo {
        font-weight: 300;
        font-size: 20px;
    }
    &__logo-link {
        color: #ffffff;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
    &__menu {
        margin-left: 327px;
        width: 860px;
        display: flex;
        align-items: center;
        @include for-desktop-up {
            margin-left: 0;
        }
        @include for-tablet-landscape-up {
            margin-left: 0;
            display: none;
        }
        @include for-tablet-portrait-up {
            margin-left: 0;
            display: none;
        }
        @include for-phone-only {
            margin-left: 0;
            display: none;
        }
    }
    &__menu-list {
        display: flex;
        width: 610px;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 0;
        
        li {
            display: inline;
            font-weight: 200;
            font-size: 18px;
            margin-bottom: 0;
            color: #ffffff;
        }
    }
    &__title {
        width: 670px;
        @include for-desktop-up {
            width: 100%;
        }
        @include for-tablet-landscape-up {
            width: 100%;
        }
        @include for-tablet-portrait-up {
            width: 100%;
            font-size: 60px;
            text-align: center;
        }
        @include for-phone-only {
            width: 100%;
            font-size: 30px;
            line-height: 50px;
            text-align: center;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 90px;
        width: 1300px;
        margin: 0 auto;
        position: relative;
        top: -380px;
        @include for-desktop-up {
            width: 1100px;
        }
        @include for-tablet-landscape-up {
            width: 800px;
            grid-template-columns: 1fr;
            grid-template-rows: 560px 190px;
            row-gap: 60px;
            top: -700px;
        }
        @include for-tablet-portrait-up {
            width: 500px;
            grid-template-columns: 1fr;
            grid-template-rows: 625px 190px;
            row-gap: 60px;
            top: -650px;

        }
        @include for-phone-only {
            width: 290px;
            grid-template-columns: 1fr;
            grid-template-rows: 625px 190px;
            row-gap: 60px;
            top: -650px;

        }
    }
    &__caption {
        font-weight: 300;
        font-size: 18px;
        width: 415px;
        color: #ffffff;
        position: relative;
        @include for-tablet-portrait-up {
            width: 100%;
        }
        @include for-phone-only {
            width: 100%;
        }
    }
    &__caption-text {
        position: absolute;
        bottom: 0;
        @include for-tablet-portrait-up {
            
        }
    }
    &__btn {
        display: block;
        margin-left: 63px;
    }
    @include for-tablet-portrait-up {
        min-height: auto;
    }
    @include for-phone-only {
        min-height: auto;
    }
}

.header__conference {
    &-backgrounds {
        position: relative;
        
        background-color: #000000;
        min-height: 900px;
        z-index: -2;
    }
    &-tr {
        position: absolute;
        top: 0;
        right: 0;
        background: url('../img/page2/main_bg.png') no-repeat 100%/cover;
        width: 1010px;
        height: 900px;
        z-index: -2;
    }
    &-wrapper {
        width: 1300px;
        margin: 0 auto;
        @include for-desktop-up {
            width: 1100px;
        }
        @include for-tablet-landscape-up {
            width: 800px;
        }
        @include for-tablet-portrait-up {
            width: 500px;
        }
        @include for-phone-only {
            width: 290px;
        }
    }
    &-btn {
        width: 192px;
        height: 50px;
        background-color: transparent;
        border: 1px solid #0030DC;
        font-weight: 300;
        font-size: 14px;
        color: #0030DC;
        margin-left: 55px;
    }
    &-title {
        margin-top: 235px;
        font-weight: normal;
        font-size: 72px;
        color: #ffffff;
        width: 750px;
        @include for-tablet-portrait-up {
            width: 100%;
            margin-top: 140px;
        }
        @include for-phone-only {
            width: 100%;
            font-size: 44px;
            line-height: 60px;
            margin-top: 380px;
        }
    }
    &-subtitle {
        margin-top: 20px;
        font-weight: 300;
        font-size: 18px;
        color: #ffffff;
        width: 650px;
        @include for-tablet-portrait-up {
            width: 100%;
        }
        @include for-phone-only {
            width: 100%;
        }
    }
    &-watch {
        margin-top: 60px;
        display: flex;
        width: 185px;
        justify-content: space-between;
        align-items: center;
        img {
            width: 80px;
            height: 80px;
        }
        span {
            font-weight: 300;
            font-size: 24px;
            color: #ffffff;
        }
    }
    @include for-tablet-portrait-up {
        min-height: auto;
    }
}

.header__main {
    min-height: 1670px;
    &-btn {
        background: transparent;
        border: 1px solid #0030dc;
        color: #0030dc;
    }
    &-backgrounds {
        position: relative;
        background-color: #010103;
        min-height: 1670px;
        z-index: -2;
    }
    &-tl {
        position: absolute;
        top: 0;
        left: 0;
        background: url('../img/page1/main_bg.png') no-repeat 100%/cover;
        width: 1010px;
        height: 1240px;
        z-index: -2;
    }
    &-bl {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #BD0000;
    }

    &-wrapper {
        position: absolute;
        top: 0px;
        left: 150px;
    }
    &-header {
        margin: 300px 0px 0px 443px;
    }
    &-title {
        font-weight: 400;
        width: 835px;
    }
    &-subtitle {
        font-weight: 200;
        font-size: 24px;
        color: #ffffff;
    }
    &-subwrapper {
        position: relative;
    }
    &-card {
        width: 860px;
        height: 455px;
        background-color: #010103;
        position: absolute;
        bottom: -215px;
        left: 595px;
        z-index: 50;
    }
    &-elements {
        &-top {
            position: relative;
            .header__main-divider {
                top: 0;
                right: 0;
            }
        }
        &-bot {
            position: relative;
            .header__main-divider {
                bottom: 0;
                left: 0;
            }
        }
    }
    &-divider {
        position: absolute;
        width: 100px;
        height: 5px;
        background-color: #BD0000;
    }
    &-button {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 192px;
        height: 60px;
        font-size: 14px;
    }
    &-content {
        width: 715px;
        height: 100%;
        padding: 100px 0px 100px 0px;
        margin: 0px auto;
        
    }
    &-subcaption {
        color: #0030dc;
        font-weight: 300;
        font-size: 24px;
        text-align: right;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    &-caption {
        margin-top: 20px;
        font-weight: 300;
        font-size: 100px;
        color: #ffffff;
        line-height: 70px;
        text-transform: uppercase;
    }
    &-description {
        width: 614px;
        margin-top: 10px;
        font-weight: 300;
        font-size: 18px;
        color: #fff6fb;
    }
}