.policies {
    &__backgrounds {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 800px;
        &-left {
            background: url('../img/page3/event_policies.png') no-repeat 100%/cover;
            @include for-tablet-portrait-up {
                grid-row: 2 / 3;
            }
            @include for-phone-only {
                grid-row: 2 / 3;
            }
        }
        &-right {
            background-color: #0c0c0c;
            @include for-tablet-portrait-up {
                grid-row: 1 / 2;
            }
            @include for-phone-only {
                grid-row: 1 / 2;
            }
        }
        @include for-tablet-portrait-up {
            
            grid-template-columns: 1fr;
            grid-template-rows: minmax(550px, auto) 550px;
        }
        @include for-phone-only {
            
            grid-template-columns: 1fr;
            grid-template-rows: minmax(550px, auto) 350px;
        }
    }
    &__wrapper {
        margin: 130px 0 0 92px;
        @include for-tablet-landscape-up {
            margin: 130px 0 0 40px;
            padding-right: 20px;
        }
        @include for-tablet-portrait-up {
            margin: 45px auto;
            padding-right: 0;
            width: 500px;
        }
        @include for-phone-only {
            margin: 115px auto;
            padding-right: 0;
            width: 290px;
        }
    }
    &__divider {
        background-color: #0030dc;
        width: 100px;
        height: 5px;
    }
    &__title {
        margin-top: 20px;
        font-weight: 700;
        width: 320px;
        @include for-phone-only {
            width: 100%;
            font-size: 50px;
            line-height: 50px;
            font-weight: 300;
        }
    }
    &__text {
        margin-top: 20px;
        width: 390px;
        font-weight: 300;
        font-size: 18px;
        color: #ffffff;
        @include for-tablet-landscape-up {
            width: 100%;
        }
        @include for-phone-only {
            width: 100%;
        }
    }
    &__btn {
        margin-top: 50px;
        width: 222px;
        height: 70px;
        font-size: 18px;
        text-transform: uppercase;
    }
}