.sponsors {
    position: relative;
    min-height: 600px;
    background-color: #0c0c0c;
    &__outwrapper {
        display: grid;
        grid-template-columns: 815px 785px;
        @include for-desktop-up {
            grid-template-columns: repeat(2, 1fr);
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 500px);
        }
    }
    &__wrapper {
        position: relative;
    }
    &__content {
        position: absolute;
        left: 81px;
        top: 50%;
        transform: translateY(-50%);
        @include for-desktop-up {
            left: 40px;
        }
        @include for-tablet-landscape-up {
            left: 50%;
            transform: translate3D(-50%, -50%, 0);
        }
    }
    &__bg {
        width: 815px;
        height: 600px;
        background: url('../img/page1/sponsors_bg.png') no-repeat 100%/cover;
        @include for-desktop-up {
            width: 100%;
        }
        @include for-tablet-landscape-up {
            width: 100%;
            height: auto;
        }
        @include for-tablet-portrait-up {
            width: 100%;
            height: auto;
        }
        @include for-phone-only {
            width: 100%;
            height: auto;
        }
    }
    
    &__title {
        font-weight: 300;
        font-size: 24px;
        color: #ffffff;
        padding-top: 10px;
    }
    &__list {
        list-style-type: none;
        width: 553px;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 300;
            font-size: 64px;
            color: #ffffff;
            padding-top: 7px;
            @include for-desktop-up {
                font-size: 55px;
            }
            @include for-tablet-landscape-up {
                font-size: 55px;
            }
            @include for-tablet-portrait-up {
                font-size: 55px;
            }
        }
        @include for-desktop-up {
            width: 500px;
        }
        @include for-tablet-landscape-up {
            width: 500px;
        }
    }
    @include for-tablet-landscape-up {
        min-height: auto;
    }
    @include for-tablet-portrait-up {
        min-height: auto;
    }
    @include for-phone-only {
        min-height: auto;
    }
}