.view {
    padding: 250px 0px 5px 0px;
    background-color: #010103;
    &__wrapper {
        display: grid;
        grid-template-columns: 800px 420px;
        column-gap: 80px;
        margin-bottom: 20px;
        @include for-desktop-up {
            grid-template-columns: 2fr 1fr;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
        @include for-phone-only {
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
    }
    &__description {
        
    }
    &__title {
        line-height: 80px;
        font-size: 62px;
        @include for-desktop-up {
            font-size: 54px;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        color: #ffffff;
    }
    &__btn {
        margin-top: 45px;
        width: 300px;
        height: 60px;
        font-size: 14px;
        @include for-desktop-up {
            margin-top: 20px;
        }
    }
    &__bg {
        min-height: 640px;
        background: url('../img/page1/issues_bg.png') no-repeat 100%/cover;
    }
    @include for-tablet-landscape-up {
        padding: 100px 0 5px 0;
    }
    @include for-tablet-portrait-up {
        padding: 100px 0 5px 0;
    }
    @include for-phone-only {
        padding: 100px 0 5px 0;
    }
}